<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<appSettings>
		<add key="licFilePath" value="" />
		<add key="companies:Config" value="[{
        &quot;dbServerType&quot;: &quot;dst_MSSQL2017&quot;,
        &quot;dbServer&quot;: &quot;LuisHernandez&quot;,
        &quot;dbUserName&quot;: &quot;sa&quot;,
        &quot;dbUserPassword&quot;: &quot;jDNq6dM+vG10Pue1UGv8gw==&quot;,
        &quot;dbName&quot;: &quot;SBODemoMX&quot;,
        &quot;sldServerName&quot;: &quot;LuisHernandez&quot;,
        &quot;sldServerPort&quot;: &quot;40000&quot;,
        &quot;licServerName&quot;: &quot;LuisHernandez&quot;,
        &quot;licServerPort&quot;: &quot;30000&quot;,
        &quot;sapUserName&quot;: &quot;manager&quot;,
        &quot;sapUserPassword&quot;: &quot;0OmIlL6YeLdmM1q21eUm8A==&quot;
    }]" />

		<!--Connect to Zoho-->
		<add key="ZOHO:ClientId" value="1000.XXXXX" />
		<add key="ZOHO:ClientSecret" value="YYYYYYYY" />
		<add key="ZOHO:RefreshToken" value="1000.ZZZZZ" />
		<add key="ZOHO:AccountsUrl" value="https://www.zohoapis.com/oauth/v2/token" />
		
		<!--SAP -> Zoho-->
		<!--Items-->
		<add key="SAP:ZOHO:OITM:Query" value="SELECT T0.&quot;ItemCode&quot; AS &quot;Product_Code&quot;, 
			T0.&quot;ItemName&quot; AS &quot;Product_Name&quot;,
			CASE T0.&quot;validFor&quot; WHEN 'Y' THEN 'true' ELSE 'false' END AS &quot;Product_Active&quot;, 
			T1.&quot;Price&quot; AS &quot;Unit_Price&quot;,
			T0.&quot;TaxCodeAR&quot; AS &quot;Tax&quot;, 
			T0.&quot;SalUnitMsr&quot; AS &quot;Usage_Unit&quot;, 
			(T0.&quot;OnHand&quot; - T0.&quot;IsCommited&quot; + T0.&quot;OnOrder&quot;) AS &quot;Qty_in_Stock&quot;,
			CASE T0.&quot;VATLiable&quot; WHEN 'Y' THEN 'true' ELSE 'false' END AS &quot;Taxable&quot;
		FROM OITM T0 
		INNER JOIN ITM1 T1 ON T0.&quot;ItemCode&quot; = T1.&quot;ItemCode&quot;
		WHERE T1.&quot;PriceList&quot; = 1 " />
		<add key="SAP:ZOHO:OITM:Fields" value="Product_Code,Product_Name,Product_Active,Unit_Price,Tax,Usage_Unit,Qty_in_Stock,Taxable" />
		<add key="SAP:ZOHO:OITM:API" value="https://www.zohoapis.com/crm/v3/Products" />
		<add key="SAP:ZOHO:OITM:DetailNodes" value="" />

		<!--Accounts-->
		<add key="SAP:ZOHO:OCRD:Query" value="SELECT 
			T0.&quot;CardCode&quot; AS &quot;Cliente_SAP&quot;,
			T0.&quot;CardName&quot; AS &quot;Account_Name&quot;,
			T0.&quot;Phone1&quot; AS &quot;Phone&quot;,
			T0.&quot;IntrntSite&quot; AS &quot;Website&quot;,
			T1.&quot;Street&quot; AS &quot;Billing_Street&quot;, 
			T1.&quot;City&quot; AS &quot;Billing_City&quot;,
			T1.&quot;State&quot; AS &quot;Billing_State&quot;,
			T1.&quot;ZipCode&quot; AS &quot;Billing_Code&quot;,
			T1.&quot;Country&quot; AS &quot;Billing_Country&quot;,
			T2.&quot;Street&quot; AS &quot;Shipping_Street&quot;,
			T2.&quot;City&quot; AS &quot;Shipping_City&quot;,
			T2.&quot;State&quot; AS &quot;Shipping_State&quot;, 
			T2.&quot;ZipCode&quot; AS &quot;Shipping_Code&quot;,
			T2.&quot;Country&quot; AS &quot;Shipping_Country&quot;
		FROM OCRD T0
		LEFT JOIN CRD1 T1 ON T0.&quot;CardCode&quot; = T1.&quot;CardCode&quot; 
						 AND T1.&quot;AdresType&quot; = 'B' 
						 AND T0.&quot;BillToDef&quot; = T1.&quot;Address&quot;
		LEFT JOIN CRD1 T2 ON T0.&quot;CardCode&quot; = T2.&quot;CardCode&quot; 
						 AND T2.&quot;AdresType&quot; = 'S' 
						 AND T0.&quot;ShipToDef&quot; = T2.&quot;Address&quot;
		WHERE T0.&quot;CardType&quot; = 'C'" />
		<add key="SAP:ZOHO:OCRD:Fields" value="Cliente_SAP,Account_Name,Phone,Website,Billing_Street,Billing_City,Billing_State,Billing_Code,Billing_Country,Shipping_Street,Shipping_City,Shipping_State,Shipping_Code,Shipping_Country" />
		<add key="SAP:ZOHO:OCRD:API" value="https://www.zohoapis.com/crm/v3/Accounts" />
		<add key="SAP:ZOHO:OCRD:DetailNodes" value="Owner" />

		<add key="SAP:ZOHO:OCRD:Owner:Query" value="SELECT T0.&quot;CardCode&quot; AS &quot;Cliente_SAP&quot;, T0.&quot;SlpCode&quot; AS &quot;id&quot; FROM OCRD T0 WHERE T0.&quot;CardCode&quot; IN (@InClause)" />
		<add key="SAP:ZOHO:OCRD:Owner:Fields" value="id,Cliente_SAP" />
		<add key="SAP:ZOHO:OCRD:Owner:DetailKey" value="Cliente_SAP" />
		<add key="SAP:ZOHO:OCRD:Owner:DetailArrayName" value="Owner" />
		<add key="SAP:ZOHO:OCRD:Owner:IsSingleObject" value="true" />

		<!--Contacts-->
		<add key="SAP:ZOHO:OCPR:Query" value="SELECT 
			T0.&quot;FirstName&quot; AS &quot;First_Name&quot;,
			T0.&quot;LastName&quot; AS &quot;Last_Name&quot;,
			T0.&quot;CardCode&quot; AS &quot;Account_Name&quot;,
			T0.&quot;E_MailL&quot; AS &quot;Email&quot;,
			T0.&quot;Tel1&quot; AS &quot;Phone&quot;,
			T0.&quot;Cellolar&quot; AS &quot;Mobile&quot;,
			T0.&quot;Name&quot; AS &quot;Full_Name&quot;,
			T0.&quot;Position&quot; AS &quot;Puesto_o_Cargo&quot; 
		FROM OCPR T0
		WHERE T0.&quot;Active&quot; = 'Y'" />
		<add key="SAP:ZOHO:OCPR:Fields" value="First_Name,Last_Name,Account_Name,Email,Phone,Mobile,Full_Name,Puesto_o_Cargo" />
		<add key="SAP:ZOHO:OCPR:API" value="https://www.zohoapis.com/crm/v3/Contacts" />
		<add key="SAP:ZOHO:OCPR:DetailNodes" value="" />

		<!--Quotes-->
		<add key="SAP:ZOHO:ORDR:Query" value="SELECT 
			T0.&quot;CntctCode&quot; AS &quot;Contact_Name&quot;,
			T0.&quot;CardName&quot; AS &quot;Account_Name&quot;,
			T1.&quot;StreetB&quot; AS &quot;Billing_Street&quot;, 
			T1.&quot;StreetS&quot; AS &quot;Shipping_Street&quot;,
			T0.&quot;U_CampoNoCotizacion&quot; AS &quot;No_Cotizaci_n&quot;,
			T0.&quot;DocDueDate&quot; AS &quot;Tiempo_de_entrega&quot;,
			T0.&quot;U_CampoFormaPago&quot; AS &quot;Forma_de_pago&quot; 
		FROM ORDR T0
		INNER JOIN RDR12 T1 ON T0.&quot;DocEntry&quot; = T1.&quot;DocEntry&quot;
		WHERE T0.&quot;CANCELED&quot; = 'N'" />
		<add key="SAP:ZOHO:ORDR:Fields" value="Contact_Name,Account_Name,Billing_Street,Shipping_Street,No_Cotizaci_n,Tiempo_de_entrega,Forma_de_pago" />
		<add key="SAP:ZOHO:ORDR:API" value="https://www.zohoapis.com/crm/v3/Quotes" />
		<add key="SAP:ZOHO:ORDR:DetailNodes" value="Billing_Code" />

		<add key="SAP:ZOHO:OCRD:Owner:Query" value="SELECT T0.&quot;CardCode&quot; AS &quot;Cliente_SAP&quot;, T0.&quot;SlpCode&quot; AS &quot;id&quot; FROM OCRD T0 WHERE T0.&quot;CardCode&quot; IN (@InClause)" />
		<add key="SAP:ZOHO:OCRD:Owner:Fields" value="id,Cliente_SAP" />
		<add key="SAP:ZOHO:OCRD:Owner:DetailKey" value="Cliente_SAP" />
		<add key="SAP:ZOHO:OCRD:Owner:DetailArrayName" value="Owner" />
		<add key="SAP:ZOHO:OCRD:Owner:IsSingleObject" value="true" />

	</appSettings>
	<log4net>
		<appender name="RollingFileAppender"  type="log4net.Appender.RollingFileAppender">
			<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
			<file type="log4net.Util.PatternString"  value="%property{LogFileName}" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<datePattern value="'.'yyyy-MM-dd'.log'" />
			<staticLogFileName value="false" />
			<maxSizeRollBackups value="30" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date{ISO8601} %level %logger - %message%newline%exception" />
			</layout>
		</appender>
		<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date{ISO8601} %level %logger - %message%newline%exception" />
			</layout>
		</appender>
		<root>
			<level value="DEBUG" />
			<appender-ref ref="RollingFileAppender" />
			<appender-ref ref="ConsoleAppender" />
		</root>
	</log4net>
</configuration>